* {
    background-color: blue;
    padding: 0rem;
    justify-content: center;
}

.board {
    display: grid;
    grid-template: repeat(10, 2rem) / 20rem;
    align-content: start;
    margin: 3rem;
}

.dom-row {
    display: grid;
    grid-template: 2rem / repeat(10, 2rem);
    align-content: start;
}

[data-stat="water"] {
    background-color: rgb(255, 255, 255);
    border: solid .05rem black;
}

[data-stat="ship"] {
    background-color: black;
}

[data-stat="hit-ship"] {
    background-color: rgb(201, 21, 21);
    border: solid .05rem black;
}

[data-stat="hit-water"] {
    background-color: rgb(121, 116, 116);
    border: solid .05rem black;
}